body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #121212; /* Couleur de fond par défaut */
    color: #ffffff; /* Couleur du texte par défaut */
    transition: background-color 0.3s, color 0.3s; /* Transition pour le changement de couleur */
}

body.light-mode {
    background-color: #ffffff; /* Couleur de fond en mode sombre */
    color: #000000; /* Couleur du texte en mode sombre */
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result-container, #stream-data-container, .form-container {
    width: 100%;
    margin-bottom: 20px;
}

.clock-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.clock-container button {
    display: inline-block;
}
  
.clock-container.invisible-clock button {
    display: none;
}

.buttons-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.button-container i {
    margin-right: 10px;
}

.form-container label, .form-container input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-container input[type="text"], .form-container input[type="number"] {
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.status-running {
    color: green;
}

.status-overrun {
    color: red;
}

.status-stopped {
    color: orange;
}

@keyframes blink {
    0% { color: red; }
    50% { color: transparent; }
    100% { color: red; }
}

.blinking {
    animation: blink 1s infinite;
}

.ALERT {
    background-color: red;
    padding: 10px;
}

#joke {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.invisible{
    display:none;
}